# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/

# IDE files
.vscode/
.idea/
*.iml

# macOS files
.DS_Store

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp
*.orig

.venv/
zzz/